<!DOCTYPE html>
<html lang="en">
<head>
    <title>Camera Stream</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style class="log-container">
    </style>
</head>
<body>
<div class="container">
    <h1 class="centered-text">Live Camera</h1>
    <div class="camera-container">
        <img src="{{ url_for('video_feed') }}" alt="Camera Stream"/>
    </div>
    <button class="centered-button" onclick="startStream()">Start</button>
    <button class="centered-button" onclick="stopStream()">Stop</button>

    <div class="log-container" id="log-output" style="display: block;"></div>
</div>
<script>
    function startStream() {
        fetch('/start')  // Send a request to the server to start the stream
            .then(response => response.text())
            .then(data => alert(data));  // Display a success or error message

        // Start polling for logs
        setInterval(fetchLogs, 2000); // Fetch logs every 2 seconds
    }

    function stopStream() {
        fetch('/stop')  // Send a request to the server to stop the stream
            .then(response => response.text())
            .then(data => alert(data));  // Display a success or error message
    }

    var logInterval; // Store the interval ID to clear it later

    function fetchLogs() {
        fetch('/logs')
            .then(response => response.text())
            .then(data => {
                const logOutput = document.getElementById('log-output');
                logOutput.innerHTML += data + '\n'; // Append new logs
                logOutput.scrollTop = logOutput.scrollHeight;

                // Check if there are logs and show/hide the container accordingly (optional)
                if (logOutput.innerText.trim() !== '') {
                    logOutput.style.display = 'block';
                } else {
                    logOutput.style.display = 'none';
                }
            })
            .catch(error => console.error('Error fetching logs:', error));
    }
</script>
</body>
</html>
