<!DOCTYPE html>
<html lang="en">
<head>
    <title>Camera Stream</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style class="log-container">
    </style>
</head>
<body>
<div class="container">
    <h1 class="centered-text">Live Camera</h1>
    <div class="camera-container">
        <img src="{{ url_for('video_feed') }}" alt="Camera Stream"/>
    </div>
    <button class="centered-button" onclick="startStream()">Start</button>
    <button class="centered-button" onclick="stopStream()">Stop</button>

    <div class="form-container">
        <form id="mode-form" method="POST" action="/set_mode">
            <div class="form-group" id="mode-group">
                <label for="mode">Data collection mode:</label>
                <select id="mode">
                    <option value="None">None</option>
                    <option value="Luminance">Luminance</option>
                    <option value="Weather">Weather</option>
                    <option value="Location">Location</option>
                </select>
            </div>
        </form>

        <form id="location-form" method="POST" action="/set_location">
            <div class="form-group" id="location-group">
                <label for="location">Location:</label>
                <select id="location" name="location">
                    <option value="Indoor">Indoor</option>
                    <option value="Outdoor">Outdoor</option>
                </select>
            </div>
        </form>

        <form id="weather-form" method="POST" action="/set_weather">
            <div class="form-group" id="weather-group">
                <label for="weather">Weather:</label>
                <select id="weather" name="weather">
                    <option value="Sunny">Sunny</option>
                    <option value="Rainy">Rainy</option>
                    <option value="Fog">Fog</option>
                    <option value="Snow">Snow</option>
                </select>
            </div>
        </form>
    </div>

    <div class="log-container" id="log-output" style="display: block;"></div>

    <h2 class="centered-text">Detected People</h2>

    <div class="image-container" id="image-output" style="display: none;"></div>
</div>
<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>